# Spring Boot configuration
spring:
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/chat_registration
    username: postgres #postgres
    password: Postgresql
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: update #create-drop
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true

  # Server configuration
server:
  error:
    include-message: always
  port: 8095  #set your port
