.user-info-text {
  color: #f5f6fa;
  font-size: 18px;
  margin: 5px 0 !important;
  white-space: nowrap;
}

.user-info-text span, #user-name-header {
  font-size: 20px;
}

#user-name-header {
  color: #f5f6fa;
}

.user-info-text span {
  color: #abbaff;
}

.img_cont_ava {
  height: 80px;
  width: 80px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  font-size: 2.3em;
  vertical-align: middle;
  margin: 0 20px;
  border: none;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
  margin: 3px;
  border: 1.5px solid #f5f6fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  position: relative;
}
header .personal-info-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .personal-info-tab .information-details-container {
  position: absolute;
  top: 120%;
  right: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(46, 51, 78);
  transition: 0.2s;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
header .personal-info-tab .information-details-container #nickname-form {
  margin-top: 20px !important;
  width: 100%;
}
header .personal-info-tab .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
header .personal-info-tab .info-container .account-details-button {
  margin: 5px 0 !important;
}
header .personal-info-tab .avatar-container {
  padding: 0 20px;
}
header .logo-tab img {
  width: 128px;
}

.chat-main-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 70vh;
}
.chat-main-container .chats-list-controls {
  width: 20%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 51, 78);
  margin-right: 15px;
  border-radius: 15px;
  padding: 10px 10px;
  position: relative;
  transition: 1s;
}
.chat-main-container .chats-list-controls .form-contacts {
  margin: 5px 0;
}
.chat-main-container .chats-list-controls .contact-connections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.chat-main-container .chats-list-controls .button-show-hide {
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #abbaff;
  text-align: center;
  font-size: 20px;
}
@media only screen and (max-width: 919px) {
  .chat-main-container .chats-list-controls .button-show-hide {
    display: block;
  }
}
.chat-main-container #chat-page {
  width: 80%;
  margin: 0 0 0 15px;
  height: 100%;
  max-height: 70vh;
}
.chat-main-container #chat-page .card-chat-window {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  height: 100%;
  width: 100%;
}
.chat-main-container #chat-page .card-chat-window .chat-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.chat-main-container #chat-page .card-chat-window .chat-header .chat-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 30px;
}
.chat-main-container #chat-page .card-chat-window .chat-header .chat-summary p {
  font-size: 20px;
  color: white;
  position: relative;
}
.chat-main-container #chat-page .card-chat-window .chat-header .chat-summary p:before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: -34px;
  width: 30px;
  height: 30px;
  background-image: url("../img/public/cm.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.chat-main-container #chat-page .card-chat-window .chat-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  overflow-y: auto;
  width: 100%;
}
.chat-main-container #chat-page .card-chat-window .chat-body #chat {
  width: 100%;
}
.chat-main-container #chat-page .card-chat-window .chat-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.chat-message-body {
  padding: 5px 5px;
  width: 100%;
}

.chat-message-flex-box {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chat-message-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  color: white;
}

.chat-message-name-from {
  margin: 0 0 5px 0;
  font-weight: 600;
}

.chat-message {
  line-break: anywhere;
}

.fa-arrow-button {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  border-radius: 0 5px 5px 0 !important;
  position: relative;
  cursor: pointer;
}
.fa-arrow-button:before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../img/public/arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 18px;
  transition: 0.2s;
}
.fa-arrow-button:hover::before {
  transform: scale(1.2);
}
.fa-arrow-button:focus::before {
  transform: scale(0.9);
}

.time_send {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: rgba(171, 186, 255, 0.55);
  font-size: 10px;
  width: max-content;
}

.hide {
  display: none !important;
}

.form-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.all-input-cm {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.all-input-cm:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.form-control-cm {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-elem-append, .input-group-elem-prepend {
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 920px) {
  header .logo-tab img {
    width: 128px;
  }
  .img_cont_ava {
    width: 80px;
    height: 80px;
  }
  .img_cont_ava .rectangle {
    width: 80px;
    height: 80px;
    font-size: 2.3em;
  }
  .info-container #user-name-header {
    font-size: 20px;
  }
  .chat-main-container {
    flex-direction: row;
    height: 70vh;
    align-items: flex-start;
  }
  .chat-main-container .chats-list-controls {
    max-height: 100%;
    width: 20%;
    margin-right: 15px;
  }
  .chat-main-container #chat-page {
    margin: 0 0 0 15px;
    width: 80%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 919px) {
  #notificationsHub .notification-block {
    max-width: 35vw;
  }
  header .logo-tab img {
    width: 128px;
  }
  .img_cont_ava {
    width: 80px;
    height: 80px;
  }
  .img_cont_ava .rectangle {
    width: 80px;
    height: 80px;
    font-size: 2.3em;
  }
  .info-container #user-name-header {
    font-size: 20px;
  }
  .chat-main-container {
    flex-direction: column-reverse;
    height: 85vh;
    align-items: center;
  }
  .chat-main-container .chats-list-controls {
    max-height: 160px;
    height: 160px;
    width: 100%;
    margin-right: 0;
  }
  .chat-main-container #chat-page {
    margin: 20px 0;
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  #notificationsHub .notification-block {
    max-width: 90vw;
  }
  header .logo-tab img {
    width: 80px;
  }
  .img_cont_ava {
    width: 70px;
    height: 70px;
  }
  .img_cont_ava .rectangle {
    width: 70px;
    height: 70px;
    font-size: 2em;
  }
  .info-container #user-name-header {
    font-size: 19px;
  }
  .chat-main-container {
    flex-direction: column-reverse;
    height: 85vh;
    align-items: center;
  }
  .chat-main-container .chats-list-controls {
    max-height: 160px;
    height: 160px;
    width: 100%;
    margin-right: 0;
  }
  .chat-main-container #chat-page {
    margin: 20px 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #notificationsHub .notification-block {
    max-width: 90vw;
  }
  header .logo-tab img {
    width: 64px;
  }
  .img_cont_ava {
    width: 60px;
    height: 60px;
  }
  .img_cont_ava .rectangle {
    width: 60px;
    height: 60px;
    font-size: 1.8em;
  }
  .info-container #user-name-header {
    font-size: 18px;
  }
  .chat-main-container {
    flex-direction: column-reverse;
    height: 85vh;
    align-items: center;
  }
  .chat-main-container .chats-list-controls {
    max-height: 160px;
    height: 160px;
    width: 100%;
    margin-right: 0;
  }
  .chat-main-container #chat-page {
    margin: 20px 0;
    width: 100%;
  }
}

/*# sourceMappingURL=chat.css.map */
