body,html {
    margin: 0;
    padding: 0; border: none; font-family: Calibri, sans-serif;
    background-color: rgba(40, 42, 54, 1) !important;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

p{
    margin: 0 !important;
}

h1{
    font-size: 60px; color: #f5f6fa; text-align: center;  font-weight: 400; font-family: Raleway, sans-serif;
}

h2{
    font-size: 30px; color: #abbaff; text-align: center; font-weight: 400; font-family: Raleway, sans-serif;
}

h4{
    font-size: 20px; color: #abbaff; text-align: center; font-weight: 500; font-family: Raleway, sans-serif;
}

a {
    font-size: 16px;
    color: #abbaff;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-decoration: none !important;
}

.link{
    color: #abbaff; text-decoration: none !important; font-size: 18px; font-weight: 400; cursor: pointer;
}

.link:hover {
    color: #f5f6fa; text-decoration: none !important;
}

a:hover {
    color: #f5f6fa; text-decoration: none !important;
}

button{
    border:0 !important;
    padding: 12px 30px;
    font-size: 22px;
}

.button{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    border-radius: 5px 5px 5px 5px !important;
    padding: 12px 30px;
    transition-duration: 0.3s; font-size: 22px; cursor: pointer; margin: 0 20px 0;
 }

.button-light{
    background-color: #abbaff !important;
    border:0 !important;
    color: black !important;
    border-radius: 5px 5px 5px 5px !important;
    padding: 12px 30px;
    transition-duration: 0.3s; font-size: 22px; cursor: pointer; margin: 0 20px 0;
}

.small-button{
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    border-radius: 5px 5px 5px 5px !important;
    padding: 5px 15px;
    transition-duration: 0.3s;
    font-size: 18px;
    cursor: pointer;
}

.button-light:hover{
    background-color: #f5f6fa !important;
    color: black;
}

.small-button:hover{
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: #abbaff;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: #abbaff;
}

@media only screen and (max-width: 1024px) {

    h1{
        font-size: 60px;
    }

    .button, .button-light{
        padding: 12px 30px;
    }
}

@media only screen and (max-width: 919px) {

    h1{
        font-size: 60px;
    }

    .button, .button-light{
        padding: 20px 60px;
    }
}



@media only screen and (max-width: 599px) {

    h1{
        font-size: 55px;
    }

    .button, .button-light{
        padding: 20px 60px;
    }
}

@media only screen and (max-width: 480px) {

    h1{
        font-size: 45px;
    }

    .button, .button-light{
        padding: 15px 50px;
    }
}