$primary: #abbaff;
$secondary: #856e6e;
$white: #fff;
$black: #000;

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

header {
  @include displayFlex(row, space-between, center); padding: 10px 5%; width: 100%; position: absolute; z-index: 100; top: 0;

  .login-tab{

    @include displayFlex(row, flex-end, center);

    a{
      font-size: 20px; padding: 2px 5px; margin: 0 5px;
    }
  }

  .logo-tab{
    img{
      width: 128px;
    }
  }
}

main{

  background-color: white;

  .main-banner{
    background-image: url("../img/public/bg2.jpeg");
    //filter: brightness(50%);
    background-color: #6a6a6a;
    background-blend-mode: multiply;
    //background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    padding: 9% 30px 10px 10px;

    .banner-title{
      h1{
        text-transform: uppercase; text-align: left;
      }
    }

    .banner-button{
      margin-top: 4%;
      .button-light{
        margin: 0;
      }
    }

    .banner-text{
      h4{
        text-align: left; letter-spacing: 2px;
        line-height: 30px; font-weight: 400;
        margin-top: 3%; font-size: 16px;
      }
    }

    .banner-element{
      margin-left: 24%;
    }

  }

  .about{
    @include displayFlex(column, flex-start, center); width: 100%; padding: 50px 0;

    .about-component{
      margin: 50px 0;
    }

    .about-component{

      h2{
        color: black; text-transform: uppercase; word-spacing: 10px;
      }

      .t-stack-block{
        width: 100%; padding: 20px 0; @include displayFlex(row, space-around, center); flex-wrap: wrap;

        img{
          margin: 20px;
        }

      }
    }

    .overview-block{
      padding: 0 15%; @include displayFlex(column, center, center); width: 100%;

      .overview-text-wrapper{
        @include displayFlex(column, center, center);

        p{
          color: #6a6a6a; text-align: center; font-weight: 400; font-family: Raleway, sans-serif; padding: 5px;
          font-size: 18px; margin: 5px 0; line-height: 30px;
         }
      }

      .overview-links{
        @include displayFlex(row, center, center); margin-top: 30px; width: 100%;
      }
    }


    .about-blocks{
      margin-top: -170px; @include displayFlex(row, space-around, flex-start); width: 100%; padding: 0 15%;

      .about-info-card{
        border-radius: 50px;
        width: 30%; @include displayFlex(column, flex-start, center); padding: 30px 20px; background-color: white;
        box-shadow: #6777c1 0 0 20px;

        .info-card-img{
          width: 80px; height: 80px; background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .info-img-1{
          background-image: url("../img/public/simple.png");
        }

        .info-img-2{
          background-image: url("../img/public/ok.png"); width: 80px; height: 81px;
        }

        .info-img-3{
          background-image: url("../img/public/messaging.png");
        }

        .info-card-title{
          font-size: 20px; color: black; text-align: center; font-weight: 500; font-family: Raleway, sans-serif;
          margin: 20px 0 !important;
        }

        .into-card-description{
          font-size: 16px; color: #6a6a6a; text-align: center; font-weight: 400; font-family: Raleway, sans-serif; padding: 5px;
        }

      }

    }

  }

}

footer{
  @include displayFlex(column, center, center); padding: 5% 5%; width: 100%;

  .copyright{
    p{
      color: $primary; text-align: center; font-weight: 400; font-family: Raleway, sans-serif;
      font-size: 14px; margin: 5px 0;
    }
  }
}





@media only screen and (min-width: 920px) {
  main {
    .main-banner {
      padding: 9% 30px 10px 10px;

      .banner-element{
        margin-left: 24%;
      }

      .banner-text{
        h4{
          margin-top: 3%;
        }
      }

      .banner-button{
        margin-top: 4%;
      }
    }

    .about {
      .about-blocks{
        flex-direction: row;
        padding: 0 15%;
        justify-content: space-around;

        .about-info-card{
          width: 30%;
        }
      }
      .overview-block{
        padding: 0 15%;
      }
    }
  }

  header .logo-tab img{
    width: 128px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 919px) {

  main {
    .main-banner {
      padding: 40% 10px 10px 10px;

      .banner-element{
        margin-left: 5%;
      }

      .banner-text{
        h4{
          margin-top: 6%;
        }
      }

      .banner-button{
        margin-top: 10%;
      }
    }

    .about {
      .about-blocks{
        flex-direction: row;
        padding: 0 0;
        justify-content: space-around;

        .about-info-card{
          width: 30%;
        }
      }
      .overview-block{
        padding: 0 3%;
      }
    }
  }

  header .logo-tab img{
    width: 128px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {

  main {
    .main-banner {
      padding: 30% 10px 10px 10px;

      .banner-element{
        margin-left: 5%;
      }

      .banner-text{
        h4{
          margin-top: 10%;
        }
      }

      .banner-button{
        margin-top: 4%;
      }
    }

    .about {
      .about-blocks{
        flex-direction: column;
        padding: 0 12%;
        align-items: center;
        justify-content: flex-start;

        .about-info-card{
          width: 100%;
          margin-bottom: 40px;
        }
      }
      .overview-block{
        padding: 0 2%;

        .overview-links{
          flex-direction: column;

          a{
            margin-top: 20px;
          }
        }
      }
    }
  }

  header .logo-tab img{
    width: 80px;
  }
}

@media only screen and (max-width: 479px) {

  main {
    .main-banner {
      padding: 40% 10px 10px 10px;

      .banner-element{
        margin-left: 5%;
      }

      .banner-text{
        h4{
          margin-top: 10%;
        }
      }

      .banner-button{
        margin-top: 4%;
      }
    }

    .about {
      .about-blocks{
        flex-direction: column;
        padding: 0 10%;
        align-items: center;
        justify-content: flex-start;

        .about-info-card{
          width: 100%;
          margin-bottom: 40px;
        }
      }
      .overview-block{
        padding: 0 2%;

        .overview-links{
          flex-direction: column;

          a{
            margin-top: 20px;
          }
        }
      }
    }
  }

  header .logo-tab img{
    width: 64px;
  }
}