<!DOCTYPE html>
<html lang="en">
<head>

    <meta property="og:title" content="Chat mate online web chat application">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/public/cm.png">
    <meta property="og:url" content="http://chat-mate.us-east-1.elasticbeanstalk.com/">
    <meta name="twitter:card" content="summary_large_image">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/style-scrollbar.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/public/favicon.ico">
    <title>ChatMate</title>
</head>
<body>

<header>
    <div class="header-tab logo-tab"><img src="/img/public/cm.png" alt="ChatMate logo"></div>
    <div class="header-tab login-tab">
        <a class="scrollClass" href="#about">About</a>
        <a href="https://github.com/ArturShatailo/chat-with-registration-spring-boot-websocket">GitHub</a>
        <a href="/register">Sign up</a>
    </div>
</header>
<main>

    <div class="main-banner">
        <div class="banner-element banner-title">
            <h1>ChatMate is the best</br>place to mate</h1>
        </div>
        <div class="banner-element banner-button">
            <a class="button-light" href="/dashboard">Get started</a>
        </div>
        <div class="banner-element banner-text">
            <h4>Sign up and start messaging with ChatMate</h4>
        </div>
    </div>
    <div id="about" class="about">
        <div class="about-component about-blocks">
            <div class="about-info-card">
                <div class="info-card-img info-img-1"></div>
                <p class="info-card-title">Simple registration</p>
                <p class="into-card-description">Sign up process is a simple and secured process.
                    Data is securely stored in accordance with policy.</p>
            </div>
            <div class="about-info-card">
                <div class="info-card-img info-img-2"></div>
                <p class="info-card-title">Easy connecting</p>
                <p class="into-card-description">User friendly interface of connecting and messaging will help you find your friends easily.</p>
            </div>
            <div class="about-info-card">
                <div class="info-card-img info-img-3"></div>
                <p class="info-card-title">Quick messaging</p>
                <p class="into-card-description">Websocket messaging is a quick way to send and receive data with STOMP protocol. </p>
            </div>

        </div>
        <div class="about-component">
            <h2>Technologies stack</h2>
            <div class="t-stack-block">
                <img src="/img/public/Java-logo.png" width="80" alt="java logo">
                <img src="/img/public/spring-logo.png" width="200" alt="spring logo">
                <img src="/img/public/postgresql-logo.png" width="146" alt="postgresql logo">
                <img src="/img/public/websocket-logo.png" width="63" alt="websocket logo">
                <img src="/img/public/stomp-logo.png" width="228" alt="stomp logo">
                <img src="/img/public/front-logo.png" width="107" alt="fronts logo">
            </div>
        </div>


        <div class="about-component overview-block">
            <div class="overview-text-wrapper">
                <h2>Overview</h2>
                <p>This is a web chat application ChatMate that can be used to chatting with another connected users.
                Each user should start with the authentication and authorisation in the ChatMate system (please confirm your email).
                Then access to the secured chat page will be available, so you need just connect to the chat room and start messaging. </p>
            </div>
            <div class="overview-links">
                <a href="https://github.com/ArturShatailo/chat-with-registration-spring-boot-websocket" class="button-light">GitHub</a>
                <a href="/register" class="button-light">Sign up</a>
                <a href="/img/public/Readme.md" class="button-light">Readme</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="copyright">
        <p>All rights reserved. ChatMate. Since 2023</p>
    </div>
</footer>

<script src="/js/index-script.js"></script>
</body>
</html>